<div class="card card-hover">
    <div class="card-header text-white panel-bg" >Task Queue

    </div>
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Email Campaigns</h4>
                
            </div>
            <div class="ml-auto align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- column -->
        <dl class="dl-horizontal">
    <dt>User Agent</dt>
    <dd>An HTML user agent is any device that interprets HTML documents.</dd>
    <dt>Client-side Scripting</dt>
    <dd>Client-side scripting generally refers to the category of computer programs on the web that are executed by the user's web browser.</dd>
    <dt>Document Tree</dt>
    <dd>The tree of elements encoded in the source document.</dd>
</dl>
        <!-- column -->
    </div>
</div>