<style>
  .bar {
    fill: #6F257F;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .x path {
    display: none;
  }

  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
  }

</style>
<div class="card ">
  <div class="card-header text-white panel-bg">Contract Metrix

    <div class="float-right">
      <div class="dl">
        <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
      </div>

    </div>
    <div class="float-right" style="margin-right:10px;">
      <div class="dl">
        <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
      </div>

    </div>
    <div class="float-right" style="margin-right:10px;">
      <div class="dl">
        <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
      </div>

    </div>
  </div>
  <div class="card-body">

    <svg width="500" height="300"></svg>

  </div>

</div>
