<!-- ============================================================== -->
<!-- Overview of the month -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-white" style='background-color:#2962ff'>Quality Assurance Metric
                            <div class="float-right">
    <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
    </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Overview of the Month</h4>
                <h5 class="card-subtitle">Users registered this month</h5>
                <div class="m-t-20 overview1"></div>
            </div>
        </div>
    </div>
</div>