<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
         <app-sale-location></app-sale-location>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-month-overview></app-month-overview>
          
    </div>
</div>
<div class="row">
    <div class="col-6">
       <app-email></app-email>
    </div>
      <div class="col-6">
           <app-campaign-overview></app-campaign-overview>
       
    </div>
    
    
</div>
