<div class="card">
    <div class="card-header text-white panel-bg" >Quality Assurance Metric
                    <div class="float-right">
    <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
    </div> 
     <div class="float-right" style="margin-right:10px;">
      <div class="dl">
        <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
      </div>

    </div>

    </div>
    <div class="card-body">
        
        <h5 class="card-subtitle"></h5>
        <div class="row">
            <!-- column -->
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="sale-location m-t-25">
                              <ngx-charts-bar-horizontal-2d class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="multi"
                    [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                    (legendLabelClick)="onLegendLabelClick($event)" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines" [barPadding]="barPadding"
                    [groupPadding]="20" [roundDomains]="roundDomains" (select)="select($event)">
                </ngx-charts-bar-horizontal-2d>
                </div>
            </div>
            <!-- column -->
            
        </div>
    </div>
</div>